/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* You can add more generic style here */

  body {
    background-image: url("assets/svg/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
  }
  
  h1 {
    @apply text-xl sm:text-xl md:text-3xl lg:text-4xl font-bold text-red-400;
  }
  h2 {
    @apply text-lg sm:text-lg md:text-2xl text-accent-navy-100;
  }
  
  
}
